{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <a href="/" class="page-title-with-href">
    <h1 class="mb-0">Reverse Proxy</h1>
    </a>

    <a
        href="/config"
        class="btn btn-primary"
    >
        Konfiguration
    </a>

</div>


<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">

    {% for proxy in proxies %}

    <div class="col">

        <a            
            {% if proxy.tls_passthrough %}
                href="https://{{ proxy.domain }}"
            {% else %}
                href="http://{{ proxy.domain }}"
            {% endif %}
            class="text-decoration-none"
        >

            <div class="card service-card h-100">

                <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">

                    <img
                        src="/favicon/{{ proxy.id }}"
                        alt="{{ proxy.name }}"
                        class="service-icon"
                    >

                    <div class="service-name">
                        {{ proxy.name }}
                    </div>

                </div>

            </div>

        </a>

    </div>

    {% endfor %}

</div>


{% if not proxies %}

<div class="text-center text-muted mt-5">

    <p>
        Noch keine Einträge vorhanden.
    </p>

    <a
        href="/config/add"
        class="btn btn-primary"
    >
        Ersten Eintrag hinzufügen
    </a>

</div>

{% endif %}

{% endblock %}